<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Restaurant Application</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div id="title-div" class="container-fluid p-3 my-3" style="display: inline-block">
        <h2 id="page-title"  style="text-align: center">Welcome to Brax-Burgers</h2><br/>
        <h3 id="context-text" style="text-align: center">Here is the menu! Feel free to pick and remove products to your order.</h3>
    </div>
    <div class="row justify-content-center align-self-center">
        <div id="menu-div" class="col-md-4">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="2">Menu</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product:${productList}">
                    <td th:text="${product.getName()}"></td>
                    <td><button th:id="'order-' + ${product.getName()}" class="btn btn-primary add-order-button"
                                th:data-name="${product.getName()}" th:data-id="${product.getId()}"
                                onclick="addProductToOrder(this.getAttribute('data-name'), this.getAttribute('data-id'));">
                        Add to order
                    </button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 text-center">
            <div id="success-placement-alert"  class="alert alert-success" role="alert" hidden>
                <strong>Thank you!</strong> Your order is placed successfully. It can be picked up in a moment.
            </div>
            <div id="fail-placement-alert" class="alert alert-danger" role="alert" hidden>
                Something went wrong with the order placement. Please try again!
            </div>
            <h4 id="current-order-title">Current order:</h4>
            <ul id="current-order-list" class="list-group mb-3"></ul>
            <button id="place-order-button" class="btn btn-primary" th:data-url="${url}" onclick="placeOrder(this.getAttribute('data-url'))">
                <span id="place-order-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Place order
            </button>
            <button id="modify-order-button" class="btn btn-primary" th:data-url="${url}" onclick="modifyOrder()" hidden>
                Modify order
            </button>
            <div id="preparing-order-spinner" class="text-center p-3" hidden>
                <span id="id-text" class="text-center p-3"> ? </span><br/>
                <div class="spinner-border" role="status"></div><br/>
                <span id="status-text" class="text-center p-3"> ... </span>
            </div>
            <button id="pickup-order-button" class="btn btn-primary" th:data-url="${url}" onclick="pickupOrder()" hidden>
                Pick up order!
            </button>
            <div id="finished-alert"  class="alert alert-info" role="alert" hidden>
                <strong>Enjoy your meal!</strong> You can refresh the page to order another meal.
            </div>
        </div>
    </div>
</div>
    <script src="/app.js"></script>
</body>
</html>